/******** COMMON ********/
body {
  background-color: #FCFCFC;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-radius: .25rem;
}

hr {
  margin: 5rem 0;
}
hr:first {
  margin-top: 105px;
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}
.section-title {
  margin-bottom: 25px;
}

/******** NAVBAR ********/
.navbar {
  background-color: white;
}
.nav-pills {
  padding-top: 10px;
}

/******** HOME ********/
.home-container {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home {
  padding: 100px 25px 25px 25px;
  color: white;
}
.home-content-left {
}
.home-content-left .title {
  font-weight: bold;
  font-size: 50px;
  font-family: 'Merriweather Sans', sans-serif;
}
.home-content-left .subtitle {
}
.home-content-left .lead {
  margin-top: 30px;
}
.join-wrapper {
  background-color: rgba(0,0,0,0.5)
}

#mce-EMAIL {
  width: 75%;
  display: inline-block;
  vertical-align: middle;
}


.home-content-right {
}
.app-ss {
  max-width: 100%;
  opacity: 0.8;
}

/******** JOIN ********/
.join-content {
  padding: 150px 0px;
}

/******** OUR STORY ********/
.our-story-section {

}
.our-story-title {
}
.our-story-content {
  font-size: 20px;
}
.our-story-content p {
  margin-bottom: 20px;
}
.our-story-content p:last-child {
  margin-bottom: 0px;
}

/******** PRESS ********/
.all-press-container .section-title {
  margin-top: 100px;
}

.press-section {

}
.press-title {
}

.press-list {
  font-size: 1rem;
}
.media-logo {
  margin-left: 10px;
  margin-right: 25px;

  max-height: 75px;
  width: 75px;
}
.media-name {

}
.media-quote {
}

.btn-more-press {
  margin-top: 25px;
  float: right;
}

/******** CONTACT ********/
.contact-section {
  text-align: center;
}
.contact-title {
}
.contact-element {
  margin: 0px 20px 20px 20px;
}
.contact-element .contact-label {
  vertical-align: super;
}
.contact-element a {
  text-decoration: none;
}
.fa-3 {
  font-size: 2em;
}

/******** FOOTER ********/
footer {
  padding-bottom: 50px;
}



/******** RESPONSIVE ********/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 480px) {
  .navbar {
    position: relative;
  }

  .navbar-brand,
  nav .nav-item {
    display: block;
    float: none !important;
  }
  .home-section {
    padding-top: 25px !important;
  }

  .press-list .list-group-item {
    text-align: center;
  }

  .media-logo,
  .media-quote {
    display: block;
    max-width: 100%;
  }
  .media-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .media-quote {
    margin-top: 10px;
  }

  footer .back-to-top {
    float: none !important;
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #mce-EMAIL {
    width: 70%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 992px) {
  #mce-EMAIL {
    width: 100%;
  }
  #mc-embedded-subscribe {
    margin-top: 10px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .home-content-right {
  }

  .media-logo {
    max-width: 30%;
  }
  .media-quote {
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
  }

  .contact-element {
    display: block !important;
  }
}
